body { 
	
	padding-top: 0px;
	margin: 0; }

.grid li span {
    display: inline-block;
    font-weight: 900;
    line-height: 1;
    position: relative;
    color: hsla(0, 0%, 0%, 0.6);
    transform-style: preserve-3d;
    perspective: 550px;
    z-index: 1;
}

header{
	margin-top: none;
	display: block;
	height: auto;
	width: auto; 
	font-size: 3px;
}

.grid li{
	width: calc(100% / 9);
}

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #89867e;
	
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

a {
    text-decoration: none;
    outline: none;
}

a img {
    border: none;
}

.caption {
	display: inline-block;
	position: relative;
	margin: 10px;

}

.caption img {
	display: block;
	max-width: 100%;
}

.caption::before,
.caption::after {
	opacity: 0;
	position: absolute;
	width: 100%;
	color: #fff;
	padding: 20px;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.caption::before {
	content: attr(data-title);
	top: 0;
	height: 30%;
	background: #a21f00;
	font-size: 40px;
	font-weight: 300;
}

.caption::after {
	content: '\201C' attr(data-description) '\201D';
	top: 30%;
	height: 70%;
	background: #db2e00;
	font-size: 16px;
	text-align: right;
}

.caption:hover::before,
.caption:hover::after {
	opacity: 1;
	}

.caption::before{
	font-size: 20px;
	background-color:rgb(119,119,119);
}

.caption::after{
	text-align: center;
	font-size: 16px;
	background-color:rgb(146,154,161);
}

.wrapper {
    margin: 0 auto 100px auto;
    max-width: 960px;
}
 
.stage {
    list-style: none;
    padding: 0;
}

.scene {
    width: 260px;
    height: 400px;
    margin: 30px;
    float: left;
    perspective: 1000px;
}

.movie {
    width: 260px;
    height: 400px;
    transform-style: preserve-3d;
    transform: translateZ(-130px);
    transition: transform 350ms;
}

.movie:hover {
    transform: rotateY(-78deg) translateZ(20px);
}

.movie .poster, 
.movie .info {
  position: absolute;
  width: 260px;
  height: 400px;
  background-color: #fff;
  backface-visibility: hidden;
}

.movie .poster  {
  transform: translateZ(130px);
  background-size: cover;
  background-repeat: no-repeat;
}
 
.movie .info {
  transform: rotateY(90deg) translateZ(130px);
  border: 1px solid #B8B5B5;
  font-size: 0.75em;
}

.movie::after {
  content: '';
  width: 260px;
  height: 260px;
  position: absolute;
  bottom: 0;
  box-shadow: 0 30px 50px rgba(0,0,0,0.3);
  transform-origin: 100% 100%;
  transform: rotateX(90deg) translateY(130px);
  transition: box-shadow 350ms;
}
 
.movie:hover::after {
  box-shadow: 20px -5px 50px rgba(0,0,0,0.3);
}

.info header {
  color: #FFF;
  padding: 7px 10px;
  font-weight: bold;
  height: 195px;
  background-size: contain;
  background-repeat: no-repeat;
  text-shadow: 0px 1px 1px rgba(0,0,0,1);
}
 
.info header h1 {
  margin: 0 0 2px;
  font-size: 1.4em;
}
 
.info header .rating {
  border: 1px solid #FFF;
  padding: 0px 3px;
}
 
.info p {
  padding: 1.2em 1.4em;
  margin: 2px 0 0;
  font-weight: 700;
  color: #666;
  line-height: 1.4em;
  border-top: 10px solid #555;
}

.movie .poster,
.movie .info,
.movie .info header {
  transition: box-shadow 350ms;
}
 
.movie .poster {
  box-shadow: inset 0px 0px 40px rgba(255,255,255,0);
}
 
.movie:hover .poster {
  box-shadow: inset 300px 0px 40px rgba(255,255,255,0.8);
}

.movie .info, 
.movie .info header {
  box-shadow: inset -300px 0px 40px rgba(0,0,0,0.5);
}
 
.movie:hover .info, 
.movie:hover .info header {
  box-shadow: inset 0px 0px 40px rgba(0,0,0,0);
}

.scene:nth-child(1) .movie .poster {
  background-image: url(../res/img/poster01.jpg);
}
 
.scene:nth-child(2) .poster {
  background-image: url(../res/img/poster02.jpg);
}
 
.scene:nth-child(3) .poster {
  background-image: url(../res/img/poster03.jpg);
}
 
.scene:nth-child(1) .info header {
  background-image: url('../res/img/first.jpg'); width:"260"; height: "195"
}
 
.scene:nth-child(2) .info header {
  background-image: url('../res/img/second.png');
}
 
.scene:nth-child(3) .info header {
  background-image: url('../res/img/network1.png');
}

footer {
	margin-top: none;
	display: block;
	height: auto;
	width: auto; 
	font-size: 3px;
}
