<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    
    <meta name="description" content="A shading effect for 3D transformed elements" />
    <meta name="keywords" content="css3, transforms, shadow, shading, 3d, box shadow" />
    <meta name="author" content="Codrops" />
    
  <title>my idea</title>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/demo.css') }}">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/component.css') }}">  
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename=
 'css/rukeon-idea.css') }}">
  <meta charset="utf-8">

  <script type='text/javascript' src='http://code.jquery.com/jquery-2.1.1.min.js'></script>
  <script type='text/javascript' src="{{ url_for('static', filename='js/modernizr.custom.js') }}"></script>
  <script type='text/javascript' src="{{ url_for('static', filename='js/rukeon-idea.js') }}"></script>
</head>
<body>
  <header>
    <ul class="grid">
      <li class="ot-letter-left"><span data-letter="W">W</span></li>
      <li class="ot-letter-top"><span data-letter="R">R</span></li>
      <li class="ot-letter-right"><span data-letter="I">I</span></li>
      <li class="ot-letter-bottom"><span data-letter="T">T</span></li>
      <li class="ot-letter-left"><span data-letter="E">E</span></li>
      <li class="ot-letter-top"><span data-letter="H">H</span></li>
      <li class="ot-letter-right"><span data-letter="E">E</span></li>
      <li class="ot-letter-bottom"><span data-letter="R">R</span></li>
      <li class="ot-letter-left"><span data-letter="E">E</span></li>

    </ul>
  </header>
  <article>
    
    <div class="container">
      <!-- Top Navigation -->
      <div class="codrops-top clearfix">
        <a class="codrops-icon codrops-icon-prev" href="http://rukeonlikelion.com/"><span>Previous My Page</span></a>
        <span class="right"><a class="codrops-icon codrops-icon-drop" href="http://snu-yonsei.likelion.net/" target="_blank"><span>What is likelion?</span></a></span>
      </div>
      <header>
        <h1>WRITE HERE will be best journey platform in the world! <span>Make world a better place </span></h1>  
      </header>
      <div class="wrapper">
        <ul class="stage clearfix">

          <li class="scene">
            <div class="movie" onclick="return true">
              <div class="poster"></div>
              <div class="info">
                <header>
                  <h1>It's a Wonderful Life</h1>
                  <span class="year">1950</span>
                  <span class="rating">SEEDING</span>
                  <span class="duration">for everyone</span>
                </header>
                <p>
                  A London-based startup has created an app that lets users take pictures simply by concentrating.
                </p>
              </div>
            </div>
          </li>

          <li class="scene">
            <div class="movie" onclick="return true">
              <div class="poster"></div>
              <div class="info">
                <header>
                  <h1>Vengeance Valley</h1>
                  <span class="year">2015</span>
                  <span class="rating">GROWING</span>
                  <span class="duration">customized service</span>
                </header>
                <p>
                  Created by design studio This Place, MindRDR uses both Google Glass and a brain activity-monitoring device to take photos and then post them to social media without ever touching a screen.

                </p>
              </div>
            </div>
          </li>

          <li class="scene">
            <div class="movie" onclick="return true">
              <div class="poster"></div>
              <div class="info">
                <header>
                  <h1>The Gold Rush</h1>
                  <span class="year">2020</span>
                  <span class="rating">EVOLVING</span>
                  <span class="duration"> utility</span>
                </header>
                <p>
                  The brain activity device — known as the Neurosky EEG biosensor — tracks the kind of neural patterns the brain exhibits when it's focusing on something. MindRDR then translates those patterns into actions — telling Glass to take a photo and then post it, all powered by thought.
                </p>
              </div>
            </div>
          </li>

        </ul>
      </div><!-- /wrapper -->
    </div><!-- /container -->
  </article>
<footer>
  <ul class="grid">
      <li class="ot-letter-left"><span data-letter="W">W</span></li>
      <li class="ot-letter-top"><span data-letter="R">R</span></li>
      <li class="ot-letter-right"><span data-letter="I">I</span></li>
      <li class="ot-letter-bottom"><span data-letter="T">T</span></li>
      <li class="ot-letter-left"><span data-letter="E">E</span></li>
      <li class="ot-letter-top"><span data-letter="H">H</span></li>
      <li class="ot-letter-right"><span data-letter="E">E</span></li>
      <li class="ot-letter-bottom"><span data-letter="R">R</span></li>
      <li class="ot-letter-left"><span data-letter="E">E</span></li>

    </ul>
</footer>


</body>
</html>